node_modules/
package-lock.json
gcloud_build_image
.gcloudignore
keyfile.json
index.yaml
openapi-functions.yaml
ifDataGet/config.json

# ignore linked files
reducer/config.json
reducer/countData.js

ifDataPut.log
*~
muistio.txt
