[Unit]
Description=ifDataPut server


[Service]
ExecStart=/usr/bin/node /opt/ifData/ifDataPut/index.js
# Required on some systems
WorkingDirectory=/opt/ifData/ifDataPut
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=40
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ifDataPut
User=pi
Group=pi
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
